<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="bg-red-100 h-screen w-full flex">
      <%= render 'components/menubar'  %>
      <div class="bg-orange-100 h-full flex flex-col flex-1">
        <%= render 'components/navbar' %>
        <%= render 'components/content' %>
      </div>
    </div>
  </body>
</html>
